useDynLib(SageBionetworksCoex)

export(performCoexFromFiles, performCoexpressionAnalysis, clusterGenes, modulesFromGeneTree, intraModularStatistics, createDiagnosticPlots)

import(WGCNA, lattice, flashClust, dynamicTreeCut)


